# About .gitignore:
# EN: https://git-scm.com/docs/gitignore
# RU: https://orlov.io/ru/articles/podrobnee-o-faile-gitignore


# Folders:

/ActivexDll-maker

# Files:

*.csi
*.vbw
*.zip
*.tmp
*.exe

/PCRE-update.txt
/upload.sh
/_9_upload_git.cmd


